<div fxLayout="column" fxLayoutAlign="space-around start" >
  <div fxlayout ="row" fxlayoutAlign="space-between">
    <mat-form-field fxFlex="50">
      <input matInput placeholder="Seu nome">
      <mat-hint>Digiti aqui seu nome</mat-hint>

    </mat-form-field>
    <mat-form-field fxFlex="10">
      <input matInput placeholder="Seu E-mail">
      <mat-hint>Digiti aqui seu E-mail</mat-hint>

    </mat-form-field>

  </div>

  <div fxlayout ="row" fxlayoutAlign="space-between">
    <mat-form-field fxFlex="50">
      <input matInput placeholder="Titulo">


    </mat-form-field>
    <mat-form-field fxFlex="10">
      <input matInput placeholder="Subtitulo da mensagem">


    </mat-form-field>

  </div>


</div>
